.a2-pager.page-pager {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.a2-pager.pager-grid {
  padding: 0.5rem 0 0 0;
}
.sheet-page {
  font-size: 13px;
  padding: 1px;
}
@media print {
  .printable-outside {
    grid-template-columns: 0 0 1fr !important;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.badge-doc {
  font-weight: normal;
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 50%;
  background-color: #ccc;
}
.a2-table > tfoot > tr.footer-normal > td {
  background-color: transparent;
}
/*PLATFORM*/
/* specify */
.a2-table.table-cell-spacing-medium {
  border-spacing: 6px;
  border-collapse: separate;
}
.a2-table.table-separate-border {
  border-collapse: separate;
}
.inner-table td {
  border: none!important;
}
table.sheet.red-borders tr.row-title td,
table.sheet.red-borders tr.row-parameter td,
table.sheet.red-borders tr td {
  border: 1px solid red !important;
}
.grid-label {
  align-self: start;
  margin-top: 6px;
}
li.line-top:before {
  content: '';
  width: 250px;
  border-top: 1px solid var(--neutralBkDarker);
  margin-left: 24px;
  display: list-item;
}