.a2-pager.page-pager {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.a2-pager.pager-grid {
  padding: 0.5rem 0 0 0;
}
.sheet-page {
  font-size: 13px;
  padding: 1px;
}
@media print {
  .printable-outside {
    grid-template-columns: 0 0 1fr !important;
  }
}
.overflow-hidden {
  overflow: hidden;
}
/*PLATFORM*/
.toolbar > .control-group.first-elem {
  margin-left: 0!important;
}