.a2-pager.page-pager {
    padding:.5rem .5rem 0 .5rem
}

.a2-pager.pager-grid {
    padding: 0.5rem 0 0 0;
}

// todo - platform
.dialog-grid-content {
    overflow:auto;
}

.a2-include.full-height {
    overflow:hidden;
}

.taskpad.background-white-smoke {
    background-color: var(--neutralBkLight)!important;
}
