.sheet-page {
  font-size: 13px;
  padding: 1px;
}
@media print {
  .printable-outside {
    grid-template-columns: 0 0 1fr !important;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.grid-fh .cw {
  overflow: hidden;
}
.badge-doc {
  font-weight: normal;
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 50%;
  background-color: #ccc;
}
.a2-table > tfoot > tr.footer-normal > td {
  background-color: transparent;
}
.inner-table td {
  border: none !important;
}
table.sheet.red-borders tr.row-title td,
table.sheet.red-borders tr.row-parameter td,
table.sheet.red-borders tr td {
  border: 1px solid red !important;
}
.grid-label {
  align-self: start;
  margin-top: 6px;
}
li.line-top:before {
  content: '';
  width: 250px;
  border-top: 1px solid var(--neutralBkDarker);
  margin-left: 24px;
  display: list-item;
}
/*UTILS (like bootstrap) */
.tag-label-lg {
  padding: 4px 16px;
}
.gap-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mr-1 {
  margin-right: 0.25rem;
}
.ml-3 {
  margin-left: 1rem;
}
.min-height-30 {
  min-height: 29.28px;
}
.data-grid-fetch td {
  padding: 6px 8px !important;
}
.data-grid-fetch th .h-holder {
  padding: 2px 8px!important;
}
.variant-cell {
  background-color: #f8f8f8;
}
.welcome-list {
  margin-top: 2rem;
  width: 100%;
}
.welcome-list .a2-list-item {
  border: 1px solid #ccc;
  padding: 1rem;
}
.welcome-list .a2-list-item .list-item-header {
  font-size: 120%;
}
.welcome-list .a2-list-item .list-item-body {
  font-size: 14px;
  color: #222;
}
.descr-simple-list {
  color: #999;
}
.descr-simple-list ul {
  margin: 0;
}
/* Collection View: overflow:hidden (Accounting/Plan)*/
.inner-grid .cw {
  overflow: hidden;
}
table.fixed-layout {
  table-layout: fixed;
}
.modal-footer .btn-more {
  min-width: auto;
}
.bind-sum {
  position: relative;
  margin: -0.1rem 0.5rem;
  padding: 0.1rem 0.5rem;
  white-space: nowrap;
  min-width: 84px;
  background: linear-gradient(to right, var(--clr-bk) 0% var(--pct), transparent var(--pct) 100%);
  background-color: rgba(224, 224, 224, 0.3);
}
.bind-sum:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: var(--clr-brd);
  width: var(--pct);
}
.fs-dialog-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.linked-list .a2-list-item {
  padding: 4px 0;
  border-width: 0;
}
.linked-list .a2-list-item:hover,
.linked-list .a2-list-item.active {
  background-color: transparent !important;
}
.linked-list .a2-list-item.group {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--neutralBkDark);
}
.linked-list .a2-list-item.group:hover {
  background-color: transparent !important;
}
.hlink-in-grid {
  gap: 0;
}
.nowrap-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}
.control-group.no-wrap .input-group.static > span.static-input {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  line-height: inherit;
  white-space: nowrap;
}
.grid .int-list-group {
  padding: 0.5rem;
  background-color: var(--neutralBkLight);
  margin: 0, 0, 1rem 0;
  font-weight: normal;
}
.int-list-label {
  display: block;
  max-width: 170px;
  min-width: 170px;
  text-align: center;
  white-space: normal;
  color: var(--text);
  font-size: 110%;
}
.a2-hyperlink.not-active {
  opacity: 0.3;
}
.ne-tree-grid tr.lev-1 {
  background-color: rgba(114, 234, 234, 0.05);
}
.include-inside-grid {
  height: 100%;
  overflow: hidden;
}
.top-nav-pane {
  display: flex;
  height: 100%;
}
.top-nav-pane .btn-icon {
  padding: 0;
  width: 42px;
  /* header-height */
}