
.sheet-page {
	font-size: 13px;
	padding: 1px;
}

@media print {
	.printable-outside {
		grid-template-columns: 0 0 1fr !important;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.grid-fh .cw {
	overflow:hidden;
}

.badge-doc {
	font-weight: normal;
	font-size: 12px;
	padding: 2px 7px;
	border-radius: 50%;
	background-color: #ccc;
}

.a2-table > tfoot > tr.footer-normal > td {
	background-color: transparent;
}

.inner-table td {
	border: none !important;
}

table.sheet.red-borders {
	tr.row-title, tr.row-parameter, tr {
		td {
			border: 1px solid red !important;
		}
	}
}

.grid-label {
	align-self: start;
	margin-top: 6px;
}

li.line-top:before {
	content: '';
	width: 250px;
	border-top: 1px solid var(--neutralBkDarker);
	margin-left: 24px;
	display: list-item;
}


/*UTILS (like bootstrap) */
@spacer: 1rem;


.mr-1 {
	margin-right: @spacer * .25;
}

.ml-3 {
	margin-left: @spacer;
}

.min-height-30 {
	min-height:29.28px;
}

.data-grid-fetch {
	td {
		padding: 6px 8px !important;
	}

	th {
		.h-holder {
			padding:2px 8px!important;
		}
	}
}

.welcome-list {
	margin-top:2rem;
	width:100%;
	.a2-list-item {
		border:1px solid #ccc;
		padding:1rem;
		.list-item-header {
			font-size:120%;
		}
		.list-item-body {
			font-size:14px;
			color:#222;
		}
	}
}

.descr-simple-list {
	color:#999;
	ul {
		margin:0;
	}
}

/*PLATFORM*/
/* Collection View: overflow:hidden (Accounting/Plan)*/
.inner-grid {
	.cw {
		overflow: hidden;
	}
}

table.fixed-layout {
	table-layout:fixed;
}


.modal-footer .btn-more {
	min-width: auto;
}

// TODO: Platfrorm -> Page.TaskpadLeft

.control-group .input-group.static > span {
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline;
	line-height:inherit;
	white-space:nowrap;
}
